<% provide(:title, "Edit user") %>
<% provide(:button_text, '編集内容を保存') %>
<h1>プロフィールを編集</h1>

<div class="row">
  <div class="col-6 offset-md-3 form-area">
    <%= render 'form' %>
  </div>
</div>