<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'アカウント作成') %>
<h1>ユーザー新規作成</h1>

<div class="row">
  <div class="col-6 offset-md-3 form-area">
    <%= render 'form' %>
  </div>
</div>