<% provide(:title, @title) %>
<div class="row">

  <div class="col-md-8">
    <h3>フォロー  (<%= @user.following.count %>人)</h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>

  <aside class="col-md-4">
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  
</div>