<% provide(:title, 'Create Post') %>
<% provide(:button_text, '勉強記録を投稿する') %>
<h1>勉強内容を記録する</h1>

<div class="row">
  <div class="col-md-7">
    <%= render 'post_form' %>
  </div>
  <div class="col-md-5">
    <%= render 'shared/timer' %>
  </div>
<div>