// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* post#show */

.show_content_box {
  border: 2px solid #b8b6b6;
  height: 700px;
  padding: 20px;
  word-wrap: break-word;
}

.show_likes_box {
  li {
    list-style: square;
  }
}

.comment_index {
  margin-top: 100px;

  ul {
    padding: 0;

    li {
    list-style: none;
    border: 2px solid #b8b6b6;
    border-radius: 10px;
    padding: 10px 20px;

    a {
      text-decoration: none;

      &:hover {
        opacity: 0.6;
      }

      .comment-name {
      font-size: 20px;
      color: black;
      }
    }
  }

    .comment-box {
      word-wrap: break-word;

      .comment-body {
      font-size: 22px;
      }
    }
  }

  

}


/* post#new edit */

#post_form {
  width: 550px;
  background: white;
  height: auto;
  padding: 50px 40px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-control {
  margin-bottom: 30px;
}

.submit {
  margin-top: 30px;
}

.field {
  margin: 20px 0;

  #post_content {
  width: 470px;
  height: 200px;
  }
}
