// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row {
  position: relative;
}

#login_user {
  width: 550px;
  background: white;
  height: auto;
  padding: 88px 40px;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
}

.submit {
  margin-bottom: 30px;
}